button.wiki-lang-select {
    display: grid;
    grid-template-areas: 
        "l i"
        "s i";
    grid-template-rows: 1fr 2fr;
    align-items: center;
    gap: 5px 15px;
    padding: 5px 15px;
    min-width: min(30ch, 95vw);
    min-height: 3rem;
    border-radius: 5px;
    border: 1px solid #000;
    background: #eee;
    font-size: 1rem;
    > label {
        grid-area: l;
    }
    > svg {
        grid-area: i;
    }
    > span {
        grid-area: s;
    }
}

.wiki-lang-select.pop-up {
    z-index: 3;
    div[role="presentation"] {
        display: flex;
        flex-direction: column;
        min-width: var(--radix-popper-anchor-width);
        background: #eee;
        border-radius: 0 0 5px 5px;
        box-shadow: 0 1px 5px #0003,0 2px 2px #00000024,0 3px 1px -2px #0000001f;
    }
    div[role="option"] {
        padding: 15px;
        border: 2px solid transparent;
        outline: none;
        &:is(:focus, :focus-visible, [data-highlighted]) {
            background: #ddd;
            background: hsl(0, 0%, 87%);
            border: 2px solid cyan;
            &[data-state="checked"] {
                background: hsl(210, 50%, 87%);
            }
        }
        svg {
            display: none;
        }
        &[data-state="checked"] {
            color: #1976d2;
        }
    }
}