---
import { Image } from 'astro:assets';
import logoImg from "../../assets/svg/logoV1.svg";
import titleImg from "../../assets/svg/title.svg";

interface Props {
  title?: string;
}
const { title } = Astro.props;
---
<div class="logo-show-in">
    <div class="zTransform">
        <div class="logo">
        <Image src={logoImg} alt="wikipedia logo" width="37" height="32"/>
        </div>
    </div>
    {
    title == null ? <Image class="title" src={titleImg} alt="WikiAdventure" width="2171" height="588"/>
                  : <div class="title"><p>{{ title }}</p></div>
    }
    
</div>
<style is:global>
.logo-show-in {
  --I-height: var(--logo-height, calc(75vmin + 2em));
  font-size: var(--I-height);
  display: flex;
  width: 100%;
  height: 1em;
  perspective: 1.2em;
  opacity: 0;
  justify-content: center;
  transform: translate3d(0px, 0px, 0px);
  animation: 0.8005s steps(1, end) forwards logo-show-in-visibility;
  filter: drop-shadow(0 0 25px rgba(18, 230, 238, 0.54));

  .zTransform {
    position: absolute;
    /* padding-top: 2%; */
    /* width: 100%; */
    height: 100%;
    transform-style: preserve-3d;
    transform: translate3d(0, 0, 0);/*To enable GPU acceleration */
    animation: 6s linear 0.8s logo-show-in-zTransform;

  }
  .logo {
    transform-style: preserve-3d;
    transform: translate3d(0, 0, 0);
    animation: 6s linear 0.8s logo-show-in-spin infinite;
    will-change: transform;
    height: 100%;
    img {
      width: auto;
      height: 100%;
      transform: translate3d(0, 0, 0);
      animation: 1.5s cubic-bezier(0, 1, 1, 1) 0.8s logo-show-in-fast-spin;
    }
  }

  .title {
    position: absolute;
    bottom: 2%;
    height: 1em;
    transform: scale3d(1,1,1);
    animation: 6s ease-out 0.8s logo-show-in-blur-fade-in;
    will-change: transform;

  }

  .title p {
    font-size: 0.3em;
    text-align: center;
  }

}
@keyframes logo-show-in-visibility {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes logo-show-in-blur-fade-in {
  0% {
    /* we don't start at 0 because browser make optimisation so they don't load the logo and it will pop of with unwanted delay */
    opacity: 0.001;
    transform: scale3d(1,1,1);
  }
  12% {
    opacity: 0.001;
    transform: scale3d(3,3,1);
  }
  17% {
  }
  20% {
    opacity: 1;
    transform: scale3d(1,1,1);
  }
}
@keyframes logo-show-in-spin {
  0% { transform: rotateY(0deg); }
  100% { transform: rotateY(360deg); }
}
@keyframes logo-show-in-fast-spin {
  0% { transform: rotateY(0deg); }
  100% { transform: rotateY(2160deg); }
}
@keyframes logo-show-in-zTransform {
  0% { transform: translate3d(-10.5em, 4.5em, -5.5em); }
  10% { transform: translate3d(-.45em, .45em, -3.3em); }
  15%, 100% { transform: translate3d(0, 0, 0); }
}
@media (prefers-reduced-motion: reduce) {
  .logo-show-in {
    animation: 0s forwards logo-visibility;
    opacity: 1;
    .zTransform {
      animation: 0s logo-zTransform;
    }
    :is(.logo, .logo img) {
      animation: none;
    }
    .title {
      animation: 0s logo-blur-fade-in;
    }
  }
}
</style>