body[data-theme^="dark"] {
    --transparent-back-color: #000c;
}

body[data-theme^="light"] {
    --transparent-back-color: #fffc;
}

.wiki-title-input {
    --border: 1px solid var(--front-color);
    --border-focus: 1px solid cyan;
    width: 100%;

    position: relative;
    z-index: 2;
    > input {
        border-radius: 10px 10px 0 0;
        border: var(--border);
        width: 100%;
        height: 3em;
        font-size: 1.5em;
        text-align: center;
        background: var(--back-color);
        color: var(--front-color);
        text-overflow: ellipsis;
        &:is(:focus, :focus-visible) {
            outline: var(--border);
            outline-offset: 1px;
            border: var(--border-focus);
        }
    }

    &:focus-within .wiki-title-suggest {
        display: flex;
    }
    .wiki-title-suggest {
        z-index: 2;
        position: absolute;
        display: none;
        flex-direction: column;
        width: 100%;
        /* border: 1px solid #000; */
        backdrop-filter: blur(3px);
        /* border: var(--border); */
        border-top: none;
        border-radius: 0 0 10px 10px;
        /* background: #000a; */
        > .wiki-preview {
            border-bottom: var(--border);
            border-left: var(--border);
            border-right: var(--border);
            background: var(--transparent-back-color);
            color: var(--front-color);
            cursor: pointer;
            &:last-child {
                border-radius: 0 0 10px 10px;

            }
            &:hover {
                background: #000a;
            }

            &:is(:focus-within, :focus) {
                outline: 2px solid cyan;
                outline-offset: 5px;
            }
        }
        &:has(.wiki-preview) {
            padding-bottom: 35px;
        }
    }
    > .wiki-preview {
        background: var(--back-color);
        border: var(--border);
        border-top: none;
        border-radius: 0 0 15px 15px;
    }
}