.theme-picker.select {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    /* min-width: 5ch; */
    min-height: 3rem;
    border-radius: 5px;
    border: 1px solid var(--front-color);
    background: var(--back-color);
    color: var(--front-color);
    > svg {
        display: none;
    }
    > span {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1ch;
        > svg {
            color: currentColor;
        }
        > span {
            display: none;
        }
    }
}

.theme-picker.pop-up {
    z-index: 3;
    div[role="presentation"] {
        display: flex;
        flex-direction: column;
        min-width: var(--radix-popper-anchor-width);
        background: var(--back-color);
        color: var(--front-color);
        border-radius: 0 0 5px 5px;
        box-shadow: var(--box-shadow);
    }
    div[role="option"] {
        padding: 15px;
        border: 2px solid transparent;
        outline: none;
        &:is(:focus, :focus-visible, [data-highlighted]) {
            background: var(--back-focus-color);
            border: 2px solid cyan;
            &[data-state="checked"] {
                /* background: hsl(210, 50%, 87%); */
            }
        }
        > span {
            display: flex;
            gap: 1ch;
        }
        .lucide-check {
            display: none;
        }
        &[data-state="checked"] {
            color: #1976d2;
        }
    }
}