// app global css in SCSS form

* {
  box-sizing: border-box;
}

html, body, #q-app {
  margin: 0;
  padding: 0;
  height: 100vh;
}

#q-app {
  overflow-y: auto;
}

.q-btn {
    svg {
      font-size: 1.4em;
    }
}

.q-btn__content {
    gap: 5px;
}
